body {
    font-family: Arial, sans-serif;
    background-color: #6a1b9a; /* Morado oscuro */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #9c27b0; /* Morado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer-btn {
    background-color: #4a148c; /* Morado más oscuro */
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
}

.answer-btn:hover {
    background-color: #7b1fa2; /* Morado más claro */
}

#next-btn {
    background-color: #4a148c; /* Morado más oscuro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#next-btn:hover {
    background-color: #7b1fa2; /* Morado más claro */
}

#results {
    margin-top: 20px;
    font-size: 18px;
}
